@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* { margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; color: #fff; }

a { text-decoration: none; }

li { list-style: none; }

header { position: fixed; top: 0; left: 0; z-index: 4500; padding: 0.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }

header h1 { float: left; }

header #myMenu { float: right; margin-right: 50px; }

header #myMenu li { float: left; margin-left: 50px; }

header #myMenu li .line { width: 0; height: 0; margin: 0 auto; background-color: #fff; }

header #myMenu li:hover .line { display: block; height: 15px; -webkit-transition: 0.4s; transition: 0.4s; }

header #myMenu li.active { font-weight: 600; }

header #myMenu li.active .line { display: block; width: 1px; height: 30px; -webkit-transition: 0.4s; transition: 0.4s; }

audio { position: fixed; top: 80px; left: 10px; z-index: 300; width: 205px; height: 20px; }

.page01 { background-attachment: fixed; background-image: url(../images/main_main01_img.jpg); background-repeat: no-repeat; background-size: 100% 90%; }

.page01 .mask { position: absolute; top: 0; width: 100%; height: 100%; background: -webkit-gradient(linear, left top, left bottom, from(rgba(81, 0, 255, 0.089)), color-stop(rgba(0, 0, 0, 0.658)), to(#000)); background: linear-gradient(to bottom, rgba(81, 0, 255, 0.089), rgba(0, 0, 0, 0.658), #000); }

.page01 .mask::before { position: absolute; left: 0; top: -10%; width: 100%; height: 120%; background: rgba(237, 150, 255, 0.712); -webkit-filter: blur(10px); filter: blur(10px); content: ""; opacity: 0; -webkit-animation: flash 1s cubic-bezier(0, 0.82, 1, 0.22) alternate infinite; animation: flash 1s cubic-bezier(0, 0.82, 1, 0.22) alternate infinite; }

.page01 .mainText { position: absolute; top: 60%; left: 55%; }

.page01 .mainText .firstTxt, .page01 .mainText .secondTxt, .page01 .mainText .thirdTxt { opacity: 0; -webkit-transition: 0.6s; transition: 0.6s; font-weight: 900; font-size: 0; color: transparent; -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; background-image: url(../images/Clipping_img.gif); background-size: 80%; }

.page01 .mainText .firstTxt.active, .page01 .mainText .secondTxt.active, .page01 .mainText .thirdTxt.active { opacity: 1; font-size: 2.8rem; }

.page01 .mainText .firstTxt { -webkit-transition-delay: 0.1s; transition-delay: 0.1s; }

.page01 .mainText .secondTxt { -webkit-transition-delay: 0.5s; transition-delay: 0.5s; }

.page01 .mainText .thirdTxt { -webkit-transition-delay: 1s; transition-delay: 1s; }

@-webkit-keyframes flash { from { opacity: 0; }
  50% { background: #fff;
    opacity: 0.1; }
  60% { background: rgba(76, 89, 150, 0.705);
    opacity: 0.15; }
  to { opacity: 0.15; } }

@keyframes flash { from { opacity: 0; }
  50% { background: #fff;
    opacity: 0.1; }
  60% { background: rgba(76, 89, 150, 0.705);
    opacity: 0.15; }
  to { opacity: 0.15; } }

.page02 .schedule { position: relative; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; }

.page02 .schedule div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }

.page02 .timetable { position: relative; top: -500px; -webkit-transition: 1s; transition: 1s; }

.page02 .timetable h2 { font-size: 2rem; margin-bottom: 1rem; }

.page02 .timetable.active { top: 0; }

.page02 .lineup { position: relative; bottom: -500px; -webkit-transition: 1s; transition: 1s; }

.page02 .lineup h2 { font-size: 2rem; margin-top: 1rem; }

.page02 .lineup.active { bottom: 0; }

.page02 .timetable .imgBox, .page02 .lineup .imgBox { position: relative; width: 23rem; height: 27rem; overflow: hidden; margin: 0 auto; }

.page02 .timetable .imgBox img, .page02 .lineup .imgBox img { width: 100%; height: 100%; }

.page02 .timetable .imgBox .viewMore .morebox, .page02 .lineup .imgBox .viewMore .morebox { position: absolute; bottom: -110px; -webkit-transform: rotate(-10deg); transform: rotate(-10deg); width: 400px; height: 0; background-color: #d900ffa1; -webkit-transition: 0.5s; transition: 0.5s; }

.page02 .timetable .imgBox .viewMore img, .page02 .lineup .imgBox .viewMore img { width: 50px; }

.page02 .timetable .imgBox .viewMore a, .page02 .lineup .imgBox .viewMore a { opacity: 0; position: absolute; right: 30px; bottom: 60px; }

.page02 .timetable .imgBox .viewMore p, .page02 .lineup .imgBox .viewMore p { opacity: 0; position: absolute; right: 30px; bottom: 30px; }

.page02 .timetable .imgBox:hover .morebox, .page02 .lineup .imgBox:hover .morebox { height: 250px; }

.page02 .timetable .imgBox:hover a, .page02 .timetable .imgBox:hover p, .page02 .lineup .imgBox:hover a, .page02 .lineup .imgBox:hover p { opacity: 1; -webkit-transition: 0.5s; transition: 0.5s; -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }

.page02 .timetable .viewMoreMobile, .page02 .lineup .viewMoreMobile { display: none; }

.page02 .textAnimation { width: 100%; overflow: hidden; margin-top: 4rem; }

.page02 .textAnimation p { position: absolute; width: 5000px; font-size: 3rem; font-weight: 600; -webkit-animation: moveSlide 90s linear infinite; animation: moveSlide 90s linear infinite; }

.page02 .textAnimation p span { -webkit-text-stroke: 1px; -webkit-text-fill-color: transparent; }

@-webkit-keyframes moveSlide { from { left: 0px;
    top: 630px; }
  to { left: -5000px;
    top: 630px; } }

@keyframes moveSlide { from { left: 0px;
    top: 630px; }
  to { left: -5000px;
    top: 630px; } }

.page03 .photo { width: 80%; padding: 50px; overflow: hidden; margin: 30px auto; padding-bottom: 0; }

.page03 .photo li { float: left; width: 33.33%; }

.page03 .photo li a { display: block; width: 100%; height: 250px; overflow: hidden; }

.page03 .photo li a img { width: 100%; height: 100%; -webkit-transition: 0.3s; transition: 0.3s; }

.page03 .photo li a:hover img { -webkit-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); }

.page03 svg { width: 80px; height: 80px; position: absolute; right: 10%; bottom: 0; font-size: 1.5rem; }

.page03 p { position: absolute; right: 13%; bottom: 5%; font-size: 1.5rem; }

.page04 h2 { text-align: center; font-size: 2rem; }

.page04 h2 span { font-size: 1.5rem; }

.page04 .iconSection { display: -webkit-box; display: -ms-flexbox; display: flex; width: 50%; margin: 0 auto; }

.page04 .iconSection div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; margin-top: 30px; height: 50px; }

.page04 .iconSection div a { display: block; width: 100px; height: 90px; margin: 0 auto; }

.page04 .iconSection div:first-child a { padding-top: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.page04 .iconSection p { font-size: 1.5rem; }

footer { position: fixed; bottom: -120px; width: 100%; height: 120px; background-color: rgba(255, 255, 255, 0.473); text-align: center; }

footer ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 300px; margin: 10px auto; }

footer ul li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

footer ul li img { width: 40px; }

footer ul li:last-child img { margin-top: 10px; }

footer p { margin-top: 10px; color: #000; }

footer.active { bottom: 0; -webkit-transition: 0.3s; transition: 0.3s; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

/* ====================================================================================== */
/* ======================================tablet================================================ */
@media screen and (min-width: 768px) and (max-width: 1024px) { * { font-size: 16px; }
  .page01 .mainText { position: absolute; top: 65%; left: 45%; }
  .page01 .mainText .firstTxt.active, .page01 .mainText .secondTxt.active, .page01 .mainText .thirdTxt.active { opacity: 1; font-size: 2rem; }
  .page02 .schedule { position: relative; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; }
  .page02 .timetable .imgBox, .page02 .lineup .imgBox { position: relative; width: 18rem; height: 24rem; }
  .page02 .textAnimation { width: 100%; overflow: hidden; margin-top: 4rem; }
  .page02 .textAnimation p { position: absolute; width: 4500px; font-size: 2rem; font-weight: 600; -webkit-animation: moveSlide 90s linear infinite; animation: moveSlide 90s linear infinite; }
  .page02 .textAnimation p span { font-size: 2rem; }
  @-webkit-keyframes moveSlide { from { left: 0px;
      top: 850px; }
    to { left: -4500px;
      top: 850px; } }
  @keyframes moveSlide { from { left: 0px;
      top: 850px; }
    to { left: -4500px;
      top: 850px; } }
  .page03 svg { width: 80px; height: 80px; float: right; margin-right: 8%; }
  .page03 p { position: relative; left: 75%; bottom: -25px; font-size: 1.5rem; } }

/* ====================================================================================== */
/* ======================================mobile================================================ */
@media screen and (max-width: 767px) { * { font-size: 14px; }
  header { position: fixed; top: 0; left: 0; z-index: 4500; padding: 0.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }
  header h1 { float: left; }
  header h1 img { width: 60%; }
  header #myMenu { float: right; margin-right: 20px; }
  header #myMenu li { float: left; margin-left: 30px; }
  header #myMenu li .line { width: 0; height: 0; margin: 0 auto; background-color: #fff; }
  header #myMenu li .hide { display: none; }
  header #myMenu li.active { font-weight: 600; }
  header #myMenu li.active .line { display: block; width: 1px; height: 20px; -webkit-transition: 0.4s; transition: 0.4s; }
  audio { display: none; }
  .page01 { background-size: 150% 70%; background-position: top center; }
  .page01 .mainText { position: absolute; top: 75%; left: 40%; }
  .page01 .mainText .firstTxt.active, .page01 .mainText .secondTxt.active, .page01 .mainText .thirdTxt.active { opacity: 1; font-size: 1.3rem; }
  .page02 .schedule { position: relative; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 20px; }
  .page02 .schedule div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }
  .page02 .timetable { position: relative; top: 0; left: -500px; margin-bottom: 10px; }
  .page02 .timetable h2 { font-size: 1.5rem; margin-bottom: 2rem; float: left; margin-left: 30px; }
  .page02 .timetable.active { left: 0; }
  .page02 .timetable .imgBox { float: right; }
  .page02 .lineup { position: relative; bottom: 0; right: -500px; }
  .page02 .lineup h2 { font-size: 1.5rem; margin-top: 1rem; margin-bottom: 2rem; float: right; margin-right: 50px; width: 30%; }
  .page02 .lineup.active { right: 0; }
  .page02 .lineup .imgBox { float: left; }
  .page02 .timetable .imgBox, .page02 .lineup .imgBox { width: 10rem; height: 13rem; overflow: hidden; }
  .page02 .timetable .imgBox .viewMore, .page02 .lineup .imgBox .viewMore { display: none; }
  .page02 .timetable .viewMoreMobile, .page02 .lineup .viewMoreMobile { display: block; }
  .page02 .timetable .viewMoreMobile img, .page02 .lineup .viewMoreMobile img { width: 45px; }
  @-webkit-keyframes moveSlide { from { left: 0px;
      top: 600px; }
    to { left: -5000px;
      top: 600px; } }
  @keyframes moveSlide { from { left: 0px;
      top: 600px; }
    to { left: -5000px;
      top: 600px; } }
  .page03 .photo { width: 80%; padding: 10px; overflow: hidden; margin: 30px auto; padding-bottom: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .page03 .photo li { float: left; width: 50%; }
  .page03 .photo li a { display: block; width: 100%; height: 100px; padding: 3%; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .page03 svg { width: 80px; height: 80px; position: absolute; right: 7%; bottom: 5%; font-size: 1.5rem; }
  .page03 p { position: absolute; right: 20%; bottom: 12%; font-size: 1.3rem; }
  .page04 h2 { text-align: center; font-size: 1.5rem; }
  .page04 h2 span { font-size: 1rem; }
  .page04 .iconSection { display: -webkit-box; display: -ms-flexbox; display: flex; width: 90%; margin: 0 auto; }
  .page04 .iconSection div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; margin-top: 30px; height: 150px; }
  .page04 .iconSection div a { display: block; width: 50px; height: 70px; margin: 0 auto; }
  .page04 .iconSection div a img { width: 100%; }
  .page04 .iconSection div:first-child a { padding-top: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .page04 .iconSection p { font-size: 1rem; }
  footer { position: fixed; bottom: -120px; width: 100%; height: 120px; background-color: rgba(255, 255, 255, 0.473); text-align: center; }
  footer ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 180px; margin: 10px auto; }
  footer ul li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
  footer ul li img { width: 35px; }
  footer ul li:last-child img { margin-top: 10px; }
  footer p { margin-top: 5px; color: #000; font-size: 0.8rem; }
  footer.active { bottom: 0; -webkit-transition: 0.3s; transition: 0.3s; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; } }

/* ====================================================================================== */
/* ======================================ihphone5================================================ */
@media screen and (max-width: 320px) { * { font-size: 12px; }
  header #myMenu { float: right; margin-right: 10px; }
  header #myMenu li { float: left; margin-left: 20px; }
  header #myMenu li .line { width: 0; height: 0; margin: 0 auto; background-color: #fff; }
  header #myMenu li .hide { display: none; }
  header #myMenu li.active { font-weight: 600; }
  header #myMenu li.active .line { display: block; width: 1px; height: 20px; -webkit-transition: 0.4s; transition: 0.4s; }
  @-webkit-keyframes moveSlide { from { left: 0px;
      top: 500px; }
    to { left: -5000px;
      top: 500px; } }
  @keyframes moveSlide { from { left: 0px;
      top: 500px; }
    to { left: -5000px;
      top: 500px; } } }

/* ====================================================================================== */
